@import "./mixins.scss";

.profile {
  padding: 50px 10px;
  width: 20vw;
  text-align: center;
  .profile-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img {
      border-radius: 50%;
      height: 160px;
      width: 160px;
    }
    h1 {
      @include text(26px);
    }
    p {
      @include text(16px);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      letter-spacing: 1.5px;
    }
    .profile-content__name-container {
      display: grid;
      gap: 10px;
    }
  }
}

.chat-route {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .chat {
    width: 80vw;
    height: calc(100vh - 80px);
    border: 1px solid gray;
    background-color: #2c2f33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .active-chat {
      min-height: 60px;
      background-color: #333333;
      border-bottom: 1px solid gray;
      display: grid;
      place-items: center;
    }
    .chat-content__wrapper {
      padding: 0 10px 80px;
      overflow-y: scroll;
      .chat-content {
        padding: 20px 0;
        display: grid;
        grid-auto-flow: dense;
        gap: 10px;
        .message-container__time {
          text-align: center;
          @include text(16px);
          margin-bottom: 40px;
        }
        .message-container {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: 10px;
          .message-container__avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          .message-container__avatar-another {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .message-container__another {
          flex-direction: row;
        }
        .chat-message {
          padding: 10px;
          border: 1px solid gray;
          border-radius: 10px;
          background-color: #0088cc;
          font-size: 20px;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: flex-end;
          flex-wrap: wrap;
          gap: 10px;
          max-width: 50vw;
          .chat-message__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            gap: 5px;
            .message-user__name {
              font-size: 16px;
              font-style: italic;
              color: red;
            }
            .message-select__image {
              max-width: calc(28vw - 15px);
              margin: 5px;
              border-radius: 5px;
            }
          }
          .message-user__time {
            font-size: 16px;
          }
          .chat-message__content-another {
            align-items: flex-start;
          }
        }
        .chat-message__another {
          background-color: grey;
          flex-direction: row;
        }
      }
      .chat-user__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 77%;
        gap: 40px;
        position: fixed;
        bottom: 20px;
        .chat-user__buttons-selector__wrap {
          display: grid;
          place-items: center;
          border-radius: 10px;
          background-color: #ffffff;
          .chat-user__buttons-selector__fake {
            object-fit: cover;
            position: absolute;
          }
          input {
            width: 40px;
            height: 40px;
            visibility: hidden;
            z-index: 100;
          }
        }
        input {
          padding: 10px;
          width: 90%;
          height: 60px;
          font-size: 25px;
          border: 2px solid gray;
          border-radius: 10px;
        }
        li {
          list-style: none;
          font-size: 20px;
          text-transform: uppercase;
          padding: 5px;
          width: 150px;
          height: 60px;
          background-color: #0088cc;
          display: grid;
          place-items: center;
          border-radius: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
.modal-image {
  position: fixed;
  top: 0; /* верхняя координата */
  left: 0; /* левая координата */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* прозрачный фон */
  display: flex; /* центрирование изображения по горизонтали и вертикали */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* устанавливаем высокий z-index, чтобы перекрыть остальной контент */
  .modal-image__content {
    width: 50vw;
  }
}

// burger menu

.burger__btn {
  position: fixed;
  top: 107px;
  left: 20px;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #ffffff;
    bottom: 5px;
  }
  span {
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #ffffff;
  }
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #ffffff;
    top: 13px;
  }
}
.burger__btn__active {
  position: fixed;
  top: 107px;
  left: 20px;
  width: 50px;
  height: 16px;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #ffffff;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 8px;
    background-color: #ffffff;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 800px) {
  .App {
    .chat-route {
      .chat {
        width: 100vw;
        .chat-content__wrapper {
          .chat-content {
            gap: 20px;
            .message-container__time {
              margin-bottom: 20px;
            }
          }
          .chat-user__buttons {
            width: 95vw;
          }
          .chat-message {
            max-width: 60vw;
            .chat-message__content {
              gap: 5px;
              .message-select__image {
                max-width: calc(58vw - 15px);
              }
            }
          }
          .chat-message__another {
            max-width: 60vw;
          }
        }
      }
    }
  }
  .profile {
    width: 100vw;
    transition: all 0.3s ease;
  }
  .profile-active {
    transition: all 0.3s ease;
  }
  .modal-image {
    .modal-image__content {
      width: 80vw;
    }
  }
}
@media (max-width: 440px) {
  .App {
    .chat-route {
      .chat {
        .chat-content__wrapper {
          .chat-content {
            .chat-user__buttons {
              gap: 20px;
              width: 90%;
            }
            .chat-message {
              max-width: 75vw;
              .message-select__image {
                max-width: calc(78vw - 40px);
              }
              .message-select__image-another{
                max-width: calc(78vw - 60px);
              }
            }
            .chat-message__another {
              max-width: 70vw;
            }
            .message-container {
              .message-container__avatar {
                display: none;
              }
              .message-container__avatar-another {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
  .modal-image {
    .modal-image__content {
      width: 90vw;
    }
  }
}
